name: javascript

on:
  pull_request:
    paths:
      - '**/*.ts'
      - '.github/workflows/javascript.yml'
      - 'package.json'
      - 'package-lock.json'
  push:
    paths:
      - '**/*.ts'
      - '.github/workflows/javascript.yml'
      - 'package.json'
      - 'package-lock.json'

jobs:
  javascript-build:
    name: Check javascript build
    if: "!contains(github.event.commits[0].message, '[skip ci]') && !contains(github.event.commits[0].message, '[ci skip]')"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm install

      - name: Lint
        run: npm run lint
